= form_for [:dabo_admin, hospital_system] do |f|
  - if hospital_system.errors.any?
    #error_explanation
      %h4
        = "#{pluralize(hospital_system.errors.count, "error")} prohibited this hospital system from being saved:"
      %ul
        - hospital_system.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name, class: 'form_control'
  .actions
    = f.submit 'Save'
