%h1 Hospital Systems

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @hospital_systems.each do |hospital_system|
    %tr
      %td= hospital_system.name
      %td= link_to 'Show', dabo_admin_hospital_system_path(hospital_system)
      %td= link_to 'Edit', edit_dabo_admin_hospital_system_path(hospital_system)
      %td= link_to 'Destroy', dabo_admin_hospital_system_path(hospital_system), method: :delete, data: { confirm: 'Are you sure?' }

%br
  = link_to 'Add a hospital_system', new_dabo_admin_hospital_system_path

%br
