.row
  %h1 Dabo Admin
  %ul
    %li= link_to 'Accounts', dabo_admin_accounts_path
    %li= link_to 'Hospital Systems', dabo_admin_hospital_systems_path
    %li= link_to 'Hospitals', dabo_admin_hospitals_path
    %li= link_to 'Reports', dabo_admin_reports_path
    %li= link_to 'Users', dabo_admin_users_path
