= form_for pristine_example do |f|
  - if pristine_example.errors.any?
    #error_explanation
      %h2= "#{pluralize(pristine_example.errors.count, "error")} prohibited this pristine_example from being saved:"
      %ul
        - pristine_example.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name, class: 'form_control'
  .field
    = f.label :description
    = f.text_area :description, class: 'form_control'
  .actions
    = f.submit 'Save'
