%h1 Listing pristine_examples

- if feature? :pristine_example

  %table
    %tr
      %th Name
      %th Description
      %th
      %th
      %th

    - @pristine_examples.each do |pristine_example|
      %tr
        %td= pristine_example.name
        %td= pristine_example.description
        %td= link_to 'Show', pristine_example
        %td= link_to 'Edit', edit_pristine_example_path(pristine_example)
        %td= link_to 'Destroy', pristine_example, method: :delete, data: { confirm: 'Are you sure?' }

  %br
    = link_to 'New Pristine example', new_pristine_example_path

  %br

  = link_to 'Click me to test JavaScript event handler assignment',
    nil,
    id: :test

- else

  %h1 Visit /flip to access the pristine examples feature
