.row
  %h2 Sign up
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .field
      = f.label :email
      = f.email_field :email, autofocus: true, class: 'form_control'
    .field
      = f.label :password
      - if @validatable
        %span.text_muted
          (#{@minimum_password_length} characters minimum)
      .has_icon_inside.clearfix.line_height_buffer_base
        = f.password_field :password, autocomplete: 'off', required: true, class: 'form_control float_left paste_disabled'
        %span.icon.toggle_icon.icon_size_base.form_control_icon.line_height_base.toggle_password
          = render 'shared/icon', icon:'#icon_eye'
    .field
      = f.label :password_confirmation
      .has_icon_inside.clearfix.line_height_buffer_base
        = f.password_field :password_confirmation, autocomplete: 'off', required: true, class: 'form_control float_left paste_disabled'
        %span.icon.toggle_icon.icon_size_base.form_control_icon.line_height_base.toggle_password
          = render 'shared/icon', icon:'#icon_eye'

    .actions
      = f.submit "Sign up"
  = render "devise/shared/links"
