- content_for :join_box do
  %h2 Sign up
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    .field
      = f.label :email
      = f.email_field :email, autofocus: true, class: 'form_control'
    .field
      = f.label :password
      .has_icon_inside.clearfix.line_height_buffer_base.toggle_password
        = f.password_field :password, autocomplete: 'off', required: true, class: 'form_control float_left'
        %span.icon.toggle_icon.icon_size_base.form_control_icon.line_height_base
          = render 'shared/icon', icon:'#icon_eye'
    - if resource.errors
      = render partial: 'shared/model_error', collection: resource.errors.full_messages
    .actions
      = f.submit "Sign up"
  = render "devise/shared/links"

= render 'devise/registrations/join_box'
