%h1#forms.section_title Forms
%pre.preserve_whitespace.line_height_base
  :preserve
    %form{action: '/search', method: 'get'}
      %label Form label
      %input.form_control#q{name: 'q', type: 'text'}
      %label Select dropdown
      %select
        %option Jona
        %option Sean
        %option Eagle

%form{action: '/search', method: 'get', class: 'top_margin_base'}
  %label Form label
  %input.form_control#q{name: 'q', type: 'text'}
  %label Select dropdown
  %select
    %option Jona
    %option Sean
    %option Eagle

%h2 Forms with icons
%h3 Form with One Icon
%pre.preserve_whitespace.line_height_base
  :preserve
    %form{action: '/search', method: 'get'}
      .has_icon.clearfix.line_height_buffer_base
        %input.form_control.float_left.no_margin#q{name: 'q', type: 'text'}
        %span.icon.icon_size_small.icon_search.float_right.form_control_icon
          = render 'shared/icon', icon: '#icon_search'
%form{action: '/search', method: 'get', class: 'top_margin_base'}
  .has_icon.clearfix.line_height_buffer_base
    %input.form_control.float_left.no_margin#q{name: 'q', type: 'text'}
    %span.icon.icon_size_small.icon_search.float_right.form_control_icon
      = render 'shared/icon', icon: '#icon_search'

%h3 Form with Two Icons
%pre.preserve_whitespace.line_height_base
  :preserve
    %form
      .has_two_icons.line_height_buffer_base
        %span.icon.icon_size_xs.icon_brand_color_primary.float_left.form_control_icon
          = render 'shared/icon', icon: '#icon_search', klass: 'vertical_align_middle'
        %input.form_control{placeholder: 'Search a provider'}
        %span.icon.icon_size_xs.float_right.form_control_icon.icon_close
          = render 'shared/icon', icon: '#icon_close', klass: 'vertical_align_middle'
%form.top_margin_base
  .has_two_icons.line_height_buffer_base
    %span.icon.icon_size_xs.icon_brand_color_primary.float_left.form_control_icon
      = render 'shared/icon', icon: '#icon_search', klass: 'vertical_align_middle'
    %input.form_control{placeholder: 'Search a provider'}
    %span.icon.icon_size_xs.float_right.form_control_icon.icon_close
      = render 'shared/icon', icon: '#icon_close', klass: 'vertical_align_middle'

%h3 Form with an Icon inside
%pre.preserve_whitespace.line_height_base
  :preserve
    %form
      .has_icon_inside.line_height_buffer_base
        %input.form_control.float_left{placeholder: 'Search a provider'}
        %span.icon.icon_size_base.form_control_icon.line_height_base
          = render 'shared/icon', icon: '#icon_eye'
%form.top_margin_base
  .has_icon_inside.line_height_buffer_base
    %input.form_control.float_left{placeholder: 'Search a provider'}
    %span.icon.icon_size_base.form_control_icon.line_height_base
      = render 'shared/icon', icon: '#icon_eye'

%h2 Form without Border
%pre.preserve_whitespace.line_height_base
  :preserve
    %form
      .has_two_icons.line_height_buffer_base
        %span.icon.icon_size_xs.icon_brand_color_primary.float_left.form_control_icon
          = render 'shared/icon', icon: '#icon_search', klass: 'vertical_align_middle'
        %input.form_control.no_border{placeholder: 'Search a provider'}
        %span.icon.icon_size_xs.float_right.form_control_icon.icon_close
          = render 'shared/icon', icon: '#icon_close', klass: 'vertical_align_middle'
%form.top_margin_base
  .has_two_icons.line_height_buffer_base
    %span.icon.icon_size_xs.icon_brand_color_primary.float_left.form_control_icon
      = render 'shared/icon', icon: '#icon_search', klass: 'vertical_align_middle'
    %input.form_control.no_border{placeholder: 'Search a provider'}
    %span.icon.icon_size_xs.float_right.form_control_icon.icon_close
      = render 'shared/icon', icon: '#icon_close', klass: 'vertical_align_middle'

%h2 Form with Text Area
%form{action: '/search', method: 'get'}
  %textarea.form_control#q{name: 'q'}
