%h1#icons.section_title Icons
%p To use icons, render the shared icon partial and pass in the name of the icon you want to use.
%p For more information on using SVG icons, please refer to the README for #{link_to('SVêGo', 'https://github.com/dabohealth/svego')}.
%code.preserve_whitespace
  :preserve
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_search'

%h2 Icon Sizes
.row.top_margin_base
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_xs.block
      = render 'shared/icon', icon: '#icon_search'
    %p.text_small .icon_size_xs
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_small.block
      = render 'shared/icon', icon: '#icon_search'
    %p.text_small .icon_size_small
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_search'
    %p.text_small .icon_size_base
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_large.block
      = render 'shared/icon', icon: '#icon_search'
    %p.text_small .icon_size_large

%h2 Icon Colors
%p By default, icons are grey #CCCCCC.
.row.top_margin_base
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.icon_brand_color_primary.block
      = render 'shared/icon', icon: '#icon_search'
    %p.text_small .icon_brand_color_primary

%h2 Icon Names
.row.top_margin_base
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_add'
    %p.text_small #icon_add
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_alarm'
    %p.text_small #icon_alarm
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_arrow_large_down'
    %p.text_small #icon_arrow_large_down
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_arrow_large_left'
    %p.text_small #icon_arrow_large_left
.row.top_margin_base
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_arrow_large_right'
    %p.text_small #icon_arrow_large_right
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_arrow_large_up'
    %p.text_small #icon_arrow_large_up
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_book'
    %p.text_small #icon_book
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_book_text'
    %p.text_small #icon_book_text
.row.top_margin_base
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_calendar'
    %p.text_small #icon_calendar
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_chart_trend'
    %p.text_small #icon_chart_trend
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_checkmark'
    %p.text_small #icon_checkmark
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_clock'
    %p.text_small #icon_clock
.row.top_margin_base
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_close'
    %p.text_small #icon_close
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_cloud'
    %p.text_small #icon_cloud
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_columns'
    %p.text_small #icon_columns
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_comment'
    %p.text_small #icon_comment
.row.top_margin_base
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_compass'
    %p.text_small #icon_compass
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_computer'
    %p.text_small #icon_computer
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_conversation'
    %p.text_small #icon_conversation
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_dabo-d-logo'
    %p.text_small #icon_dabo-d-logo
.row.top_margin_base
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_dabo-logo-vertical'
    %p.text_small #icon_dabo-logo-vertical
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_dabo-logo'
    %p.text_small #icon_dabo-logo
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_document'
    %p.text_small #icon_document
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_document_text'
    %p.text_small #icon_document_text
.row.top_margin_base
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_download'
    %p.text_small #icon_download
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_edit'
    %p.text_small #icon_edit
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_eye'
    %p.text_small #icon_eye
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_graph_bar'
    %p.text_small #icon_graph_bar
.row.top_margin_base
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_grid'
    %p.text_small #icon_grid
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_grid_large'
    %p.text_small #icon_grid_large
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_heart'
    %p.text_small #icon_heart
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_home'
    %p.text_small #icon_home
.row.top_margin_base
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_layoug'
    %p.text_small #icon_layoug
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_lightbulb'
    %p.text_small #icon_lightbulb
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_list'
    %p.text_small #icon_list
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_list_add'
    %p.text_small #icon_list_add
.row.top_margin_base
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_list_bullet'
    %p.text_small #icon_list_bullet
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_location_arrow'
    %p.text_small #icon_location_arrow
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_lock'
    %p.text_small #icon_lock
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_mail'
    %p.text_small #icon_mail
.row.top_margin_base
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_map'
    %p.text_small #icon_map
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_map_pin'
    %p.text_small #icon_map_pin
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_microphone'
    %p.text_small #icon_microphone
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_mobile_phone'
    %p.text_small #icon_mobile_phone
.row.top_margin_base
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_news'
    %p.text_small #icon_news
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_paper_text'
    %p.text_small #icon_paper_text
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_paperclip'
    %p.text_small #icon_paperclip
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_pencil'
    %p.text_small #icon_pencil
.row.top_margin_base
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_pencil_and_paper'
    %p.text_small #icon_pencil_and_paper
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_phone'
    %p.text_small #icon_phone
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_printer'
    %p.text_small #icon_printer
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_remove_circle'
    %p.text_small #icon_remove_circle
.row.top_margin_base
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_rows'
    %p.text_small #icon_rows
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_search'
    %p.text_small #icon_search
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_settings'
    %p.text_small #icon_settings
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_unlock'
    %p.text_small #icon_unlock
.row.top_margin_base
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_upload'
    %p.text_small #icon_upload
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_user'
    %p.text_small #icon_user
  .col3.border_grey.text_center.inner_padding_small
    %span.icon.icon_size_base.block
      = render 'shared/icon', icon: '#icon_users'
    %p.text_small #icon_users

%hr.top_margin_large.bottom_margin_large
