.conversation
  .card_container.top_margin_base.border_grey
    .card_title.inner_padding_base.line_height_base.border_bottom_grey
      %span.text= conversation.title
      %span.icon.icon_size_base.float_right.vertical_align_middle
        = render 'shared/icon', icon: '#icon_conversation'
    .card_body.inner_padding_base
      = conversation.description
  = render partial: 'comments/comment', collection: conversation.comments, locals: { conversation_presenter: conversation_presenter }
  .left_margin_base
    = yield :new_comment_box
