= form_for conversation, remote: true, method: :post do |f|
  .field
    = f.text_field :title, class: 'form_control', placeholder: 'Start A Conversation'
  #form_description.hidden
    .field
      = f.text_area :description, class: 'form_control', placeholder: 'Description'
    .field
      = f.hidden_field :measure_id, value: conversation_presenter.measure_id
    - if conversation.errors
      = render 'shared/model_errors', model: conversation

    .actions
      = f.submit data: { disable_with: 'Submitting...' }
      = link_to 'Cancel', conversations_path(measure_id: conversation_presenter.measure_id), remote: true, class: 'btn_grey cancel_btn'


