= form_for conversation, remote: true, method: :post do |f|
  .field
    = f.text_field :title, class: 'form_control', placeholder: 'Start A Conversation'
  #form_description.hidden
    .field
      = f.text_area :description, class: 'form_control', placeholder: 'Description'
    .field
      = f.hidden_field :node_id_component, value: node_id_component
    - if conversation.errors
      = render 'shared/model_errors', model: conversation

    .actions
      = f.submit data: { disable_with: 'Submitting...' }
      .btn_grey.cancel_btn.conversation_cancel Cancel


