-if current_user.is_dabo_admin?
  = render 'user_profiles/user_nav', title: current_user.email
  = render 'user_profiles/segmented_controls'

  .inner_padding_large
    %p.line_height_buffer_xl= link_to 'Accounts', dabo_admin_accounts_path
    %p.line_height_buffer_xl= link_to 'Hospital Systems', dabo_admin_hospital_systems_path
    %p.line_height_buffer_xl= link_to 'Providers', dabo_admin_providers_path
    %p.line_height_buffer_xl= link_to 'Reports', dabo_admin_reports_path
    %p.line_height_buffer_xl= link_to 'Users', dabo_admin_users_path
    %p.line_height_buffer_xl= link_to 'Feature Flip', flip_engine_path
