.devise_form.centered.border_grey.top_margin_large
  %h3.text_center.no_margin.border_bottom_grey.inner_padding_base Password Expired

  .inner_padding_large
    %p It's been 90 days since you last changed your password. Please create a new password that hasn't been used in the past year.

    = form_for(resource, as: resource_name, url: [resource_name, :password_expired], html: { method: :put, class: 'top_margin_base' }) do |f|
      .field.has_icon_inside.toggle_password
        = f.password_field :password, class: 'form_control', placeholder: 'New password'
        %span.icon.icon_size_base.form_control_icon.line_height_base.toggle_icon
          = render 'shared/icon', icon: '#icon_eye'
      - if resource.errors
        = render 'shared/model_errors', model: resource

      %h3 Password Requirements:
      %p At least 15 characters: “happycateatsalot”
      %p or
      %p At least 8 characters WITH 3 uppercase, numeric, or any special character: “#HappyTimes”

      .top_margin_large
        = f.submit 'Create'

