- content_for :join_box do
  .inner_padding_base.border_grey
    %h3 Forgot your password?
    %p.bottom_margin_base Enter your email address and Dabo will send you a link to reset your password.
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      .field
        = f.email_field :email, autofocus: true, class: 'form_control', placeholder: 'Hospital Email', value: session[:session_email]
      - if resource.errors
        = render 'shared/model_errors', model: resource
      .actions.horizontal_padding_base
        = f.submit 'Reset'
        = link_to 'Cancel', new_user_session_path, class: 'btn_grey'

= render 'devise/shared/join_box'
