#measures_nav_container.affix_beneath_top_nav.col3.bottom_buffer_base
  .measures_nav_btn.back_btn_container.inner_padding_small.line_height_extra_large.border_bottom_grey.clearfix
    = link_to(back_button_options(node),
      { class: 'back_btn text_ellipsis' }) do
      %span.icon.icon_large.icon_arrow_large_left.float_left
      %span.parent_node_text.hide_on_mobile= parent_link_text(node)
    %span.current_node_text.centered.text_center.hide_on_desktop.text_ellipsis
      = node.short_title
  .measures_nav_btn.measures_nav_current_node.inner_padding_small.line_height_extra_large.text_center.hide_on_mobile.hide_on_tablet_portrait.border_bottom_grey
    %span.text_ellipsis
      = node.short_title

  - if node.children
    - node.children.each do |child|
      .measures_nav_btn.forward_btn.inner_padding_small.line_height_extra_large.hide_on_mobile.hide_on_tablet_portrait.border_bottom_grey.clearfix
        = link_to id: child.id do
          %span.text_ellipsis
            = child.short_title
          %span.icon.icon_large.icon_arrow_large_right.float_right
  - else
    = render 'shared/'

