- if @account.errors.any?
  %ul.errors
    - @account.errors.full_messages.each do |msg|
      %li
        = msg

= form_for [:dabo_admin, @account] do |f|
  - @form = f
  .field.system_selection
    = f.label :system_name
    = f.collection_select(:virtual_system_id, |
    VirtualHospitalSystemCollection.call, |
    :to_global_id, |
    :name, |
    include_blank: true)
  = render 'hospital_select'
  .actions
    = f.submit


