- if @hospital.errors.any?
  %ul.errors
    - @hospital.errors.full_messages.each do |msg|
      %li
        = msg

= form_for [:dabo_admin, @hospital] do |f|
  %ul
    %li
      = f.label :name
      = f.text_field :name
    %li
      = f.label :provider_id, 'Provider ID'
      = f.text_field :provider_id
    %li
      = f.label :city
      = f.text_field :city
    %li
      = f.label :state
      = f.text_field :state
    %li
      = f.label :hospital_system_id
      = f.collection_select(:hospital_system_id, |
      HospitalSystem.all, |
      :id, |
      :name, |
      include_blank: true)
    %li
      = f.submit
