- if @hospital.errors.any?
  %ul.errors
    - @hospital.errors.full_messages.each do |msg|
      %li
        = msg

= form_for [:dabo_admin, @hospital] do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :provider_id, 'Provider ID'
    = f.text_field :provider_id
  .field
    = f.label :city
    = f.text_field :city
  .field
    = f.label :state
    = f.text_field :state
  .field
    = f.label :zip_code
    = f.text_field :zip_code
  .field
    = f.label :hospital_type
    = f.text_field :hospital_type
  .field
    = f.label :hospital_system_id
    = f.collection_select(:hospital_system_id, |
    HospitalSystem.all, |
    :id, |
    :name, |
    include_blank: true)
  .actions
    = f.submit
