%h1 New Hospital System
- if @hospital.errors.any?
  %ul.errors
    - @hospital.errors.full_messages.each do |msg|
      %li
        = msg

= form_for [:dabo_admin, @hospital] do |f|
  .field
    = f.label :name
    = f.text_field :name, class: 'form_control'
  .field
    = f.label :provider_id, 'Provider ID'
    = f.text_field :provider_id, class: 'form_control'
  .field
    = f.label :city
    = f.text_field :city, class: 'form_control'
  .field
    = f.label :state
    = f.text_field :state, class: 'form_control'
  .field
    = f.label :zip_code
    = f.text_field :zip_code, class: 'form_control'
  .field
    = f.label :hospital_type
    = f.text_field :hospital_type, class: 'form_control'
  .field
    = f.label :hospital_system_id
    = f.collection_select(:hospital_system_id, |
    HospitalSystem.all, |
    :id, |
    :name, |
    include_blank: true)
  .actions
    = f.submit
    = link_to 'Back', dabo_admin_hospitals_path(@hospital)
