- # name, provider id, city and state
%ul
  %li
    Name:
    = @hospital.name
  %li
    Provider Id:
    = @hospital.provider_id
  %li
    City:
    = @hospital.city
  %li
    State:
    = @hospital.state
  %li
    Hospital System:
    = @hospital.hospital_system_name

= link_to 'Delete this hospital', |
  dabo_admin_hospital_path(@hospital), |
  method: :delete, |
  data: { confirm: 'Are you sure?' }

%br
= link_to 'Back', dabo_admin_hospitals_path
