= render 'layouts/feedback_bar'
.measures.affix_beneath_top_nav#node_container
  = render 'public_charts/select_and_compare', provider_compare_presenter: @provider_compare_presenter
  = render "public_charts/detail_charts/#{@node.type}", node: @node, conversation_presenter: @conversation_presenter
  = render 'public_charts/children', node: @node

= content_for :breadcrumbs do
  = render partial: 'public_charts/breadcrumbs/breadcrumb', collection: @node.breadcrumbs,
    spacer_template: 'public_charts/breadcrumbs/breadcrumbs_spacer'

= content_for :left_nav do
  .selected
    = render 'public_charts/measures_nav', node: @node

