= render 'public_charts/measures_nav', node: @node

= render_feedback_bar
.main_content.col10.measures.vertical_padding_large.affix_beneath_top_nav
  %h2.breadcrumbs.hide_on_mobile.hide_on_tablet_portrait.inner_content
    = render partial: 'public_charts/breadcrumbs/breadcrumb', collection: @node.breadcrumbs,
      spacer_template: 'public_charts/breadcrumbs/breadcrumbs_spacer'
  = render 'public_charts/select_and_compare'
  = render "public_charts/detail_charts/#{@node.type}", node: @node
  = render 'public_charts/children', node: @node
