= render 'measures_nav_back_btn', node: @node
= render 'breadcrumbs', node: @node

%div Chart identifier is #{@node.short_name} at #{@node.path}
%ul
  - @node.children.each do |child|
    %li= link_to child.short_name, id: child.path

