.hide_on_desktop.hide_on_tablet_portrait.affix_beneath_top_nav
  .mobile_dropdown_button.news_feed_filter_item.inner_padding_small.line_height_extra_large.border_grey
    %span.icon.icon_size_base.icon_left.vertical_align_middle
      = render 'shared/icon', icon: '#icon_clock'
    %span.text.vertical_align_middle Most Recent
    %span.icon.icon_size_base.float_right.vertical_align_middle
      = render 'shared/icon', icon: '#icon_arrow_large_down'
  .dropdown
    .news_feed_filter_item.inner_padding_small.line_height_extra_large.border_grey
      %span.icon.icon_size_base.icon_left.vertical_align_middle
        = render 'shared/icon', icon: '#icon_conversation'
      %span.text.vertical_align_middle Conversations
    .news_feed_filter_item.inner_padding_small.line_height_extra_large.border_grey
      %span.icon.icon_size_base.icon_left.vertical_align_middle
        = render 'shared/icon', icon: '#icon_chart_trend'
      %span.text.vertical_align_middle Quality Projects
    .news_feed_filter_item.inner_padding_small.line_height_extra_large.border_grey
      %span.icon.icon_size_base.icon_left.vertical_align_middle
        = render 'shared/icon', icon: '#icon_share'
      %span.text.vertical_align_middle Shared with Me

.hide_on_mobile.affix_beneath_top_nav.clearfix
  .news_feed_filter_item.inner_padding_small.line_height_extra_large.text_center.col3.col3-xs
    %span.icon.icon_size_base.icon_left.vertical_align_middle
      = render 'shared/icon', icon: '#icon_clock'
    %span.text.vertical_align_middle Most Recent
  .news_feed_filter_item.inner_padding_small.line_height_extra_large.text_center.col3.col3-xs
    %span.icon.icon_size_base.icon_left.vertical_align_middle
      = render 'shared/icon', icon: '#icon_conversation'
    %span.text.vertical_align_middle Conversations
  .news_feed_filter_item.inner_padding_small.line_height_extra_large.text_center.col3.col3-xs
    %span.icon.icon_size_base.icon_left.vertical_align_middle
      = render 'shared/icon', icon: '#icon_chart_trend'
    %span.text.vertical_align_middle Quality Projects
  .news_feed_filter_item.inner_padding_small.line_height_extra_large.text_center.col3.col3-xs
    %span.icon.icon_size_base.icon_left.vertical_align_middle
      = render 'shared/icon', icon: '#icon_share'
    %span.text.vertical_align_middle Shared with Me
