%li.bottom_margin_small.link
  %p.no_margin.compare_item_name= hospital_compare_presenter.hospital_city_and_state
  %p.text_muted
    = pluralize(hospital_compare_presenter.hospitals_in_city_count, 'Hospital')
%li.bottom_margin_small.link
  %p.no_margin.compare_item_name= hospital_compare_presenter.hospital_state
  %p.text_muted
    = pluralize(hospital_compare_presenter.hospitals_in_state_count, 'Hospital')
- if hospital_compare_presenter.hospital_system?
  %li.bottom_margin_small.link
    %p.no_margin.compare_item_name= hospital_compare_presenter.hospital_system_name
    %p.text_muted
      = pluralize(hospital_compare_presenter.hospitals_in_system_count, 'Hospital')
%li.bottom_margin_small.link
  %p.no_margin.compare_item_name Nation-wide
  %p.text_muted
    = pluralize(hospital_compare_presenter.hospitals_count, 'Hospital')
