%li.bottom_buffer_small
  %p.no_margin= hospital_comparison.city_and_state
  %p.text_muted
    = pluralize(hospital_comparison.hospitals_in_city_count, 'Hospital')
%li.bottom_buffer_small
  %p.no_margin= hospital_comparison.state
  %p.text_muted
    = pluralize(hospital_comparison.hospitals_in_state_count, 'Hospital')
%li.bottom_buffer_small
  %p.no_margin= hospital_comparison.hospital_system_name
  %p.text_muted
    = pluralize(hospital_comparison.hospitals_in_system_count, 'Hospital')
%li
  %p.no_margin Nation-wide
  %p.text_muted
    = pluralize(hospital_comparison.hospitals_count, 'Hospital')
