= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'top_margin_base' }) do |f|
  .field.email_field{failed_login_options}
    = f.email_field :email, autofocus: true, placeholder: 'Hospital Email', class: 'form_control'
  .field.password_field{failed_login_options}
    .has_icon_inside.toggle_password.clearfix.line_height_buffer_base
      = f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'no_margin form_control float_left'
      %span.icon.toggle_icon.icon_size_base.form_control_icon.line_height_base
        = render 'shared/icon', icon:'#icon_eye'

  - if alert
    .error_explanation_no_border
      %p= alert

  .actions
    %p= link_to 'Forgot password?', new_password_path(resource_name)
    = f.submit 'Login', class: 'top_margin_small'
    .btn_grey.cancel_btn Cancel
