= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  %div{ class: "field #{error_class} email_field" }
    = f.label :email
    = f.email_field :email, autofocus: true, placeholder: 'name@email.com', class: 'form_control'
  %div{ class: "field #{error_class} password_field" }
    = f.label :password
    .has_icon_inside.toggle_password.clearfix.line_height_buffer_base
      = f.password_field :password, autocomplete: "off", class: 'no_margin form_control float_left'
      %span.icon.toggle_icon.icon_size_base.form_control_icon.line_height_base
        = render 'shared/icon', icon:'#icon_eye'

  - if alert
    #error_explanation_no_border
      %p= alert

  .actions
    %p= link_to 'Forgot password?', new_password_path(resource_name)
    %p= link_to 'Create an account', new_user_registration_path
    = f.submit 'Login', class: 'top_margin_small'
    .btn_grey.cancel_btn Cancel
