.row
  .login.top_buffer_large.centered
    = render 'devise/shared/logo'
    %h2.bottom_buffer_base Sign In
    - if alert
      #error_explanation
        %p= alert
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label :email
        = f.email_field :email, autofocus: true, placeholder: 'name@email.com', class: 'form_control'
      .field
        = f.label :password
        = f.password_field :password, autocomplete: "off", class: 'form_control'

      .actions
        = f.submit "Sign in"
        = link_to "Forgot Password?", new_password_path(resource_name)
