.measure_detail
  .chart
    = render 'public_charts/detail_charts/default_chart', node: node
  .actions_container.border_bottom_grey
    .actions.inner_content.horizontal_padding_small.clearfix
      .action.col3-xs.text_center
        %span.icon.icon_size_base.icon_left.vertical_align_middle
          = render 'shared/icon', icon: '#icon_conversation'
        %span.text.hide_on_mobile.vertical_align_middle Discuss
      .action.col3-xs.text_center
        %span.icon.icon_size_base.icon_left.vertical_align_middle
          = render 'shared/icon', icon: '#icon_share'
        %span.text.hide_on_mobile.vertical_align_middle Share
      .action.col3-xs.text_center
        %span.icon.icon_size_base.icon_left.vertical_align_middle
          = render 'shared/icon', icon: '#icon_book_text'
        %span.text.hide_on_mobile.vertical_align_middle Learn
      .action.col3-xs.text_center
        %span.icon.icon_size_base.icon_left.vertical_align_middle
          = render 'shared/icon', icon: '#icon_chart_trend'
        %span.text.hide_on_mobile.vertical_align_middle Improve
  .card_container.inner_content.row.top_margin_large
    = render 'conversations/form', conversation: conversations_presenter.new_conversation, node_id_component: node.id_component

  #conversations
    = render partial: 'conversations/conversation', collection: conversations_presenter.chart_conversations
