= form_for system do |f|
  - if system.errors.any?
    #error_explanation
      %h2= "#{pluralize(system.errors.count, "error")} prohibited this system from being saved:"
      %ul
        - system.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
