.brand_icon.line_height_buffer_base.is_sticky.vertical_padding_base
  = link_to root_path, class: 'icon icon_size_small icon_brand_color_primary' do
    = render 'shared/icon', icon: '#icon_dabo-d-logo', klass: 'vertical_align_middle'

#left_nav.vertical_padding_base.bottom_padding_large
  .left_nav_btn
    %span.icon.icon_size_small.icon_brand_color_primary.float_left.line_height_buffer_base
      = render 'shared/icon', icon: '#icon_users', klass: 'vertical_align_middle'
    %span.line_height_buffer_base.vertical_padding_small My Groups
  .left_nav_btn
    %span.icon.icon_size_small.icon_brand_color_primary.float_left.line_height_buffer_base
      = render 'shared/icon', icon: '#icon_bookmark', klass: 'vertical_align_middle'
    %span.line_height_buffer_base.vertical_padding_small My Bookmarks
  .left_nav_btn
    %span.icon.icon_size_small.icon_brand_color_primary.float_left.line_height_buffer_base
      = render 'shared/icon', icon: '#icon_lightbulb', klass: 'vertical_align_middle'
    %span.line_height_buffer_base.vertical_padding_small Quality Projects
  .left_nav_btn
    %span.icon.icon_size_small.icon_brand_color_primary.float_left.line_height_buffer_base
      = render 'shared/icon', icon: '#icon_conversation', klass: 'vertical_align_middle'
    %span.line_height_buffer_base.vertical_padding_small Conversation Threads
  .left_nav_btn
    %span.icon.icon_size_small.icon_brand_color_primary.float_left.line_height_buffer_base
      = render 'shared/icon', icon: '#icon_mail', klass: 'vertical_align_middle'
    %span.line_height_buffer_base.vertical_padding_small Messages
  .left_nav_btn
    = link_to '/metrics/public-data' do
      %span.icon.icon_size_small.icon_brand_color_primary.float_left.line_height_buffer_base
        = render 'shared/icon', icon: '#icon_graph_bar', klass: 'vertical_align_middle'
      %span.line_height_buffer_base.vertical_padding_small Public Data
  = yield :left_nav

= render 'shared/user_profile'
