<!DOCTYPE html>
<html>
<head>
  <title>Comparitron</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <%= render 'layouts/top_nav' %>

    <%= yield %>
  </div>
</body>
</html>
