- content_for :application do
  .row.row_offcanvas_left
    .col3.sidebar_offcanvas
      = render 'layouts/left_nav'
    .col3.sidebar_offcanvas_spacer.hide_on_mobile.hide_on_tablet_portrait
    .col9.border_left_grey.inner_content_offcanvas
      = render 'layouts/top_nav'
      .inner_content
        = yield

    - unless @custom_feedback_bar
      = render 'layouts/feedback_bar'

= render template: 'layouts/base'
