!!!
%html
  %head
    %title Dabo Health
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
    = stylesheet_link_tag    'application', media: 'all',
      'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    - if Rails.application.config.turbolinks_debugging_enabled
      = javascript_include_tag 'turbolinks_debugging', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body#body{ class: [controller_name, controller_action_name], |
         data: { |
           view_name: controller_action_name, |
           pixel_path: asset_path('pixel.gif'), |
           current_user_id: current_user.try(:id) |
         } |
       } |
    = render 'layouts/top_nav'
    = render 'shared/svg_icons'
    - if flash.any?
      = render 'layouts/feedback_bar'
    #outer_container
      = yield

    / These links are for engineering. Please do not remove.
    - if user_signed_in?
      .inner_padding_base
        %p.no_margin= current_user.email
        %p.no_margin= link_to 'Sign out', destroy_user_session_path, method: :delete

        -if current_user.is_dabo_admin
          %p= link_to 'Dabo Admin Panel', dabo_admin_path
