!!!
%html
  %head
    %title Dabo Health
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
    = stylesheet_link_tag    'application', media: 'all',
      'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    - if Rails.application.config.turbolinks_debugging_enabled
      = javascript_include_tag 'turbolinks_debugging', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{ class: [controller_name, controller_action_name],
         data: { view_name: controller_action_name } }
    #outer_container
      = render partial: "layouts/top_nav"
      = yield
