!!!
%html
  %head
    %title Dabo Health
    %meta{content: 'width=device-width, initial-scale=1, user-scalable=no', name: 'viewport'}
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    - if Rails.application.config.turbolinks_debugging_enabled
      = javascript_include_tag 'turbolinks_debugging'
    = csrf_meta_tags
  %body#body{ class: [controller_name, controller_action_name], |
         data: { |
           view_name: controller_action_name, |
           pixel_path: asset_path('pixel.gif'), |
           current_user_id: current_user.try(:id) |
         } |
       } |
    = render 'shared/icon_definitions'
    = content_for?(:application) ? yield(:application) : yield
